@import '_setting.scss';

$card-border-radius:4px;

.card-item{
    background-color: white;
    padding: $gap;
    border-radius: $card-border-radius;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: $gap;
    img.card-cover{
      display: block;
      width: calc(100% + 2 * #{$gap});
      margin: -$gap 0 $gap (-$gap);
      border-top-left-radius: $card-border-radius;
      border-top-right-radius: $card-border-radius;
    }
  }