@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');

$gap:10px;

// height: appbar + boardbar + boardContent = 99vh, 1vh for scroll bar
$navbar-app-height: 5vh;
$navbar-board-height: 6vh;
$board-content-height: 88vh;
$column-border-radius:4px;

//colors
$app-main-text-color:#333;
$board-bg-color: #0079bf;
$input-border-color:#0079bf;
$common-element-bg:rgba(255,255,255,.24);
$list-bg-color:#ebecf0;
$column-bg-color:#ebecf0;
$alert-danger:#ee5253;

//screens
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: '(max-width: 375px)';


//



